@font-face {
	font-family: 'Stem semilight'; 
	src: url(/fonts/Stem-SemiLight.ttf); 
}
@font-face {
	font-family: 'Stem bold'; 
	src: url(/fonts/Stem-Bold.ttf); 
}



body {
    font-family: 'Stem semilight';
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: #000;
}


.header__menu-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    /*border: 1px red  solid;*/
    
}

.header__menu-item {
    
    font-family: 'Stem bold', sans-serif;
    letter-spacing: .04em;
    
    margin-bottom: 8px;
    /*border: 1px red  solid;*/
}








.page-header {
    display: flex;
    background-image: url('/imgs/cover-faculty2.jpg');
    /*border: 1px red  solid;*/
}

.header-bottom {
    display: flex;
}

.header-logo {
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 5px;
}

.header-text {
    padding-left: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}




.disciplines {
    text-align: center;
    justify-content: center;
}





.card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #0d965d;
    display: inline-block;
    border-radius: 5px;
}

.card a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.card:hover {
    background-color: #115c41;
    cursor: pointer;
}

.card-container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.quiz {
    text-align: center;
    line-height: 200px; 
}